In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C://Users//HP//Desktop//diamonds.csv")

In [3]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [4]:
df.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [5]:
df.drop('Unnamed: 0',inplace=True,axis=1)

In [6]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [7]:
def encode_cut(val):
    A={
        'Fair':1,
        'Good':2,
        'Very Good':3,
        'Premium':4,
        'Ideal':5
    }
    return A.get(val)

In [8]:
df["encoded_cut"]=df.cut.apply(encode_cut)

In [9]:
df.color.unique()

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [10]:
def encode_color(val):
    B={
        'J':1,
        'I':2,
        'H':3,
        'G':4,
        'F':5,
        'E':6,
        'D':7,
    }
    return B.get(val)

In [11]:
df["encoded_color"]=df.color.apply(encode_color)

In [12]:
def encode_clarity(val):
    C={
        'I1':1,
        'SI2':2,
        'SI1':3,
        'VS2':4,
        'VS1':5,
        'VVS2':6,
        'VVS1':7,
        'IF':8
    }
    return C.get(val)

In [13]:
df["encoded_clarity"]=df.clarity.apply(encode_clarity)
df

,carat,cut,color,clarity,depth,table,price,x,y,z,encoded_cut,encoded_color,encoded_clarity
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,5,6,2
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,4,6,3
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,2,6,5
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,4,2,4
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,5,7,3
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,2,7,3
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,3,7,3
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,4,3,2
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,5,7,2

In [14]:
df.drop(['cut','color','clarity'],inplace=True,axis=1)

In [15]:
df

,carat,depth,table,price,x,y,z,encoded_cut,encoded_color,encoded_clarity
0,0.23,61.5,55.0,326,3.95,3.98,2.43,5,6,2
1,0.21,59.8,61.0,326,3.89,3.84,2.31,4,6,3
2,0.23,56.9,65.0,327,4.05,4.07,2.31,2,6,5
3,0.29,62.4,58.0,334,4.20,4.23,2.63,4,2,4
4,0.31,63.3,58.0,335,4.34,4.35,2.75,2,1,2
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,60.8,57.0,2757,5.75,5.76,3.50,5,7,3
53936,0.72,63.1,55.0,2757,5.69,5.75,3.61,2,7,3
53937,0.70,62.8,60.0,2757,5.66,5.68,3.56,3,7,3
53938,0.86,61.0,58.0,2757,6.15,6.12,3.74,4,3,2
53939,0.75,62.2,55.0,2757,5.83,5.87,3.64,5,7,2

In [16]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [17]:
X=df.drop(["price"],axis=1)
X

,carat,depth,table,x,y,z,encoded_cut,encoded_color,encoded_clarity
0,0.23,61.5,55.0,3.95,3.98,2.43,5,6,2
1,0.21,59.8,61.0,3.89,3.84,2.31,4,6,3
2,0.23,56.9,65.0,4.05,4.07,2.31,2,6,5
3,0.29,62.4,58.0,4.20,4.23,2.63,4,2,4
4,0.31,63.3,58.0,4.34,4.35,2.75,2,1,2
...,...,...,...,...,...,...,...,...,...
53935,0.72,60.8,57.0,5.75,5.76,3.50,5,7,3
53936,0.72,63.1,55.0,5.69,5.75,3.61,2,7,3
53937,0.70,62.8,60.0,5.66,5.68,3.56,3,7,3
53938,0.86,61.0,58.0,6.15,6.12,3.74,4,3,2
53939,0.75,62.2,55.0,5.83,5.87,3.64,5,7,2

In [18]:
y=df['price']
y

0         326
1         326
2         327
3         334
4         335
         ...
53935    2757
53936    2757
53937    2757
53938    2757
53939    2757
Name: price, Length: 53940, dtype: int64

In [19]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.20,random_state=0)

In [20]:
X_train.shape

(43152, 9)

In [21]:
X_test.shape

(10788, 9)

In [22]:
y_train.shape

(43152,)

In [23]:
y_test.shape

(10788,)

In [24]:
regressor=LinearRegression()

In [25]:
regressor.fit(X_train,y_train)

LinearRegression()

In [26]:
sol=regressor.predict(X_test)

In [27]:
sol

array([5130.36445585, 7291.57600195, 6023.67969704, ..., 5264.75202788,
       7233.5412491 , 2365.14564174])

In [28]:
regressor.intercept_

2956.629687309988

In [29]:
regressor.coef_

array([10672.91381904,   -82.26599294,   -29.07929149,  -830.86395019,
          29.82171309,   -34.31607942,   120.07307196,   320.92742249,
         502.4849697 ])

In [30]:
vis=pd.DataFrame({"Sold_Value":y_test,"Predicted_Value":sol})

In [31]:
vis

       Sold_Value  Predicted_Value
10176        4733      5130.364456
16083        6424      7291.576002
13420        5510      6023.679697
20407        8770      9931.764805
8909         4493      4731.391795
...           ...              ...
42208        1289       675.163250
3638         3435      3473.420962
5508         3847      5264.752028
19535        8168      7233.541249
47950        1917      2365.145642

[10788 rows x 2 columns]

In [32]:
from sklearn import metrics

In [33]:
metrics.mean_squared_error(y_test,sol) **0.5

1198.232624298705

Now we can tell that actual value = predicted value +- the root of mean_squared_error

In [34]:
metrics.r2_score(y_test,sol)

0.9094252854685623

# SVR

In [35]:
from sklearn.svm import SVR

In [36]:
regressor_svr=SVR()

In [37]:
regressor_svr.fit(X_train,y_train)

SVR()

In [39]:
sol_svr=regressor_svr.predict(X_test)

In [40]:
vis_svr=pd.DataFrame({"Sold_Value":y_test,"Predicted_Value":sol_svr})

In [41]:
vis_svr

       Sold_Value  Predicted_Value
10176        4733      2448.710611
16083        6424      2461.670493
13420        5510      2473.898613
20407        8770      2469.399993
8909         4493      2422.427112
...           ...              ...
42208        1289      2389.579212
3638         3435      2467.121323
5508         3847      2441.665080
19535        8168      2410.106996
47950        1917      2364.883030

[10788 rows x 2 columns]

In [42]:
metrics.mean_squared_error(y_test,sol_svr) **0.5

4219.378656525647

In [43]:
metrics.r2_score(y_test,sol_svr)

-0.12310845674613713

# Decision Tree

In [44]:
from sklearn.tree import DecisionTreeRegressor

In [45]:
regressor_tree=DecisionTreeRegressor(random_state=0)

In [47]:
regressor_tree.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [50]:
sol_tree=regressor_tree.predict(X_test)

In [51]:
vis_tree=pd.DataFrame({"Sold_Value":y_test,"Predicted_Value":sol_tree})

In [52]:
vis_tree

       Sold_Value  Predicted_Value
10176        4733           4537.0
16083        6424           7054.0
13420        5510           5098.0
20407        8770          11795.0
8909         4493           4678.0
...           ...              ...
42208        1289           1268.0
3638         3435           3057.0
5508         3847           4244.0
19535        8168           9286.0
47950        1917           1882.0

[10788 rows x 2 columns]

In [53]:
metrics.mean_squared_error(y_test,sol_tree) **0.5

720.664710141843

In [54]:
metrics.r2_score(y_test,sol_tree)

0.967236430889494

# Random Forest Regression

In [58]:
from sklearn.ensemble import RandomForestRegressor

In [72]:
regressor_forest=RandomForestRegressor(n_estimators=10,random_state=0)

In [73]:
regressor_forest.fit(X_train,y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [74]:
sol_forest=regressor_forest.predict(X_test)

In [75]:
vis_forest=pd.DataFrame({"Sold_Value":y_test,"Predicted_Value":sol_forest})

In [76]:
vis_forest

       Sold_Value  Predicted_Value
10176        4733           4773.5
16083        6424           7118.6
13420        5510           5233.5
20407        8770          11576.6
8909         4493           4566.2
...           ...              ...
42208        1289           1360.1
3638         3435           3401.6
5508         3847           4200.7
19535        8168           8607.9
47950        1917           1981.5

[10788 rows x 2 columns]

In [77]:
metrics.mean_squared_error(y_test,sol_forest) **0.5

558.5818958559751

In [78]:
metrics.r2_score(y_test,sol_forest)

0.9803166776252301